### Java & Maven ###
target/
*.class
*.jar
*.war
*.ear

### IntelliJ IDEA ###
.idea/
*.iml
out/
gen/
.idea_modules/

### Hibernate & Logs ###
*.log
hibernate.log
derby.log

### Testcontainers & Docker ###
# Обычно контейнеры не мусорят в проект, но на всякий случай:
.testcontainers.properties

### System Files ###
.DS_Store
Thumbs.db

### User Specific ###
.env
*.local